<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/entries/">VIEW ALL ENTRIES</a>
      <a href="/entries/new">ADD ENTRY</a>
      <% if (user) { %>
      <a href="/logout" class="login"><img src="./images/logout.gif"></a>
      <% } else { %>
      <a href="/auth/google" class="login"
        ><img src="./images/login.gif"></a>
      <% } %>
    </nav>
  </body>
</html>
