<%- include('partials/header') %>

<h1 class="typewriter"><%= title %></h1>
<p>
  > log in to see your diary entries
  <br />
  > guests can only see full gallery
</p>

<%- include('partials/footer') %>
