<%- include('../partials/header') %>

<h1><%= title %></h1>
<form id="new-form" action="/entries" method="POST">
  <div>
    <label for="image">> image link</label>
    <input type="text" name="image" required="true" placeholder="img.png" />
  </div>

  <p>
    <label>> title:</label>
    <input type="text" name="title" placeholder="img" />
  </p>
  <p>
    <label>> description:</label>
    <br />
    <textarea
      name="description"
      value=""
      rows="4"
      placeholder="enter description"
    ></textarea>
  </p>

  <input type="submit" value="Add entry" />
</form>

<%- include('../partials/footer') %>
