<%- include('../partials/header') %>

<h1><%= title %></h1>
<form id="new-form" action="/entries" method="POST" >
      <div>
        <label for="image">> link image</label>
        <input type="text" name="image" required=false />
      </div>

  <p>
    <label>> title:</label>
    <input type="text" name="title" />
  </p>
  <p>
    <label>> description:</label>
    <br>
    <textarea
          name="description"
          value=""
          rows="2"
          placeholder="enter description"
        ></textarea>
  </p>
  <p>
    <label>> date:</label>
    <input type="date" name="date" />
  </p>

  <input type="submit" value="Add entry" />
</form>



<%- include('../partials/footer') %>
