body {
  display:grid;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white; 

  box-sizing: border-box;
  min-height: 100vh;
  border-image:url("./../images/border1.png") 12;
  border-style: solid;
  border-width: 12px;
  background-color: white;
  background-image:url("./../images/bg.png");
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 30px;
  margin: auto;
padding: 20px;
gap: 10px;
max-width: 100%;
z-index: 1;
text-align: right;
  
}

a {
  color: #dcf5ff;
}


.main-content{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-image:url("./../images/border2.png") 51 51 8 8/51px 51px 8px 8px;
  border-style: solid;
border-top: 51px solid;
border-left: 8px solid;
border-right: 8px solid;
border-bottom: 8px solid;

  max-width: 50%;
  max-height: 80%;

  background-color: black;
  color: white;
  padding: 50px;  
  position: absolute;
  left: 30px;
  top: 30px;
  overflow-y: scroll;
  z-index: 50;

}

#btn-img{
  background: none;
  padding: 0;
  border:none;
  margin: 0;
  
}